.container {
	margin-top: 1%;
}

.navbar-default {
	background-color: white;
	border-left: none;
	border-right: none;
	margin-bottom: 5%;
}

.img-marca {
	width: 110px;
}

.txt-menu {
	font-size: 12px;
}

.glyphicon-search {
	background-color: #f0f0f5;
	border: 5px solid #f0f0f5;
	border-radius: 5px;
}

.thumbnail {
	border: none;
}

.thumbnail h5, p {
	color: gray;
}

.title-carousel {
 	margin-bottom: -12px;
}

.title-carousel h4 {
	color: gray;
	padding-bottom: -10px;
}

a:link {
	text-decoration: none;
}

.carousel-button {
	border: 1px solid gray;
	border-radius: 4px;
}

.carousel-prev{
	padding-left: 3px;
}

.carousel-next {
	padding-left: 3px;
	padding-right: 3px;
}


.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.fa {
	font-size: 40px;
}

.fa-user {
	color: orange;
}

.col-md-5 {
	clear: both;
	margin-bottom: 10px;
}
